<table class="table">
	<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>
	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr>
	<tr>
		<th>follows</th>
		<th><%=link_to user.follower.count ,users_follow_path(user) %></th>
	</tr>
	<tr>
		<th>followed</th>
		<th><%=link_to user.followed.count ,users_follower_path(user) %></th>
	</tr>
	<tr>
		<td>
				<% if user_signed_in? %>
        <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: "btn-sm btn-primary" %>
        <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "btn-sm btn-success" %>
        <% end %>
        <% end %>
      </td>
      <td></td>
	</tr>

</table>

<%  if user.id == current_user.id %>
<%= link_to edit_user_path(user) do %>
  <span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></span>
<% end %>
<% end %>